@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');
:root{
	--back-Color:hsl(219, 71%, 47%);
	--div-block-color: hsl(0, 0%, 80%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	font-weight: 200;
}

html,body{
	height: 100%;
	background-color: var(--back-Color);
}
.main{
	max-width: 1500px;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.children{
	max-width: 90vw;
	max-height: 100px;
	width: 600px;
	height: 100%;
	margin-top: 10px;
	border-radius: 10px;
	background-color: var(--div-block-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
p{
	font-weight: 400;
}